<!DOCTYPE html>
<html>
  <#--  <%- partial("_partial/head") %>  -->
  <#include ""module/head.ftl">
  <body>
    <#--  <%- partial("_partial/header") %>  -->
    <#include ""module/header.ftl">
    <#--  <%- body %>  -->
    <#--  <%- partial("_partial/footer") %>  -->
    <#include ""module/footer.ftl">
  </body>
</html>
